<div>
  <table>
    <tr>
      <td>FilmId</td>
      <td>
        <input type="number" name="" id="" [(ngModel)]="item.filmId">
      </td>
    </tr>
    <tr>
      <td>Description</td>
      <td>
        <input type="text" name="" id="" [(ngModel)]="item.description">
      </td>
    </tr>
    <tr>
      <td>Title</td>
      <td>
        <input type="text" name="" id="" [(ngModel)]="item.title">
      </td>
    </tr>
    <tr>
      <td>ReleaseYear</td>
      <td>
        <input type="number" name="" id="" [(ngModel)]="item.releaseYear">
      </td>
    </tr>
    <tr>
      <td>LanguageId</td>
      <td>
        <input type="text" name="" id="" [(ngModel)]="item.languageId">
      </td>
    </tr>
    <tr>
      <td>RentalDurationDays</td>
      <td>
        <input type="number" name="" id="" [(ngModel)]="item.rentalDurationDays">
      </td>
    </tr>
    <tr>
      <td>LengthMins</td>
      <td>
        <input type="number" name="" id="" [(ngModel)]="item.lengthMins">
      </td>
    </tr>
    <tr>
      <td>ReplacementCostCrores</td>
      <td>
        <input type="number" name="" id="" [(ngModel)]="item.replacementCostCrores">
      </td>
    </tr>
    <tr>
      <td>Rating</td>
      <td>
        <input type="number" name="" id="" [(ngModel)]="item.rating">
      </td>
    </tr>
    <tr>
      <td>SpecialFeatures</td>
      <td>
        <input type="text" name="" id="" [(ngModel)]="item.specialFeatures">
      </td>
    </tr>
    <tr>
      <td>ActorId</td>
      <td>
        <input type="text" name="" id="" [(ngModel)]="item.actorId">
      </td>
    </tr>
    <tr>
      <td>CategoryId</td>
      <td>
        <input type="text" name="" id="" [(ngModel)]="item.categoryId" value="S">
      </td>
    </tr>
    <tr>
      <td colspan=1></td>
      <button on-click="Edit()">Update</button>
    </tr>
  </table>
</div>
